.container1{
    height: 100vh;
    width: 100vw;
    background-image: url('dots2.gif');
    background-size: cover;
    background-repeat: no-repeat;

}
.winner{
    background-image: url('confetti.gif');
    background-size: auto;
    background-repeat: repeat;
}
.winner2{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    animation: spin 3s; 
}
@keyframes spin{
    25%{
        transform: rotateY(360deg);
    }
}
.head{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Raleway Dots', cursive;
    font-size: 2em;

}
.name{
    font-size: 3em;
}
main{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
footer{
    height: 15%;
    display: flex;
    justify-content: center;
}
.scoreBoard{
    height: 5%;
    display: flex; 
    flex-direction: row;
    width: 150px;
    justify-content: space-evenly;
    text-align: center;
    align-self: flex-start;
}

.board{
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: row;
    
}
.column{
    width: 14.6%;
    height: 100%;
    background: yellow;
}
.row{
    height: 16.6%;
    width: 100%;
    background: white;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 0%;
    margin: 0%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    font-weight: bold;
}
form{
    position: absolute;
    display: flex;
    border: solid blue;
}
.list{
    width: 125px;
    margin: 0;
    display: flex; 
    flex-direction: column-reverse;
}
.list:hover
.listOfColors{
    display: flex;
    position: absolute; 
    height: 100px;
    z-index: 4;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10pt;
    border: solid blue;
    background: lightblue;
    border-radius: 10%;

}
.rules{
    width: 125px;
    margin: 0;
    display: flex; 
    flex-direction: column-reverse;
}
.rules:hover
.listOfRules{
    display: flex;
    position: absolute; 
    height: 200px;
    z-index: 4;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10pt;
    border: solid blue;
    background: lightblue;
    border-radius: 10%;


}
.listOfRules{
    display: none;
}
.listOfColors{
    display: none;
}
.Lleg {
    background: linear-gradient(to right, blue, lightblue);
    height: 300px; 
    width: 50px;
    border-radius: 15% 0% 15% 15%;
}
.Rleg{
    background: linear-gradient(to right, blue, lightblue);
    height: 300px; 
    width: 50px;
    border-radius: 0% 25% 25% 25%;
}
#letsPlay{
    background-color: silver;
    box-shadow: 2px 2px 2px 2px black;
}